.App {
  text-align: center;
}

nav {
  display: flex;
  background-color: bisque;
  padding: 2vh;
}

nav > span > a {
  color: brown;
  font-weight: bolder;
  margin-right: 50px;
  text-decoration: none;
}

.links {
  display: flex;
  margin-left: auto;
}

.links > a {
  margin: 0 10px;
}

.links > button {
  margin-right: 10px;
}
