.todos {
	display: flex;
	width: 47.5%;
	flex-direction: column;
	border-radius: 5px;
	background-color: aqua;
}

.container {
	margin-top: 15px;
	display: flex;
	width: 95%;
	justify-content: space-between;
	align-items: flex-start;
}

.todos__heading {
	font-size: 30px;
	/* text-align: center; */
	color: black;
}

@media (max-width: 1100px) {
	.todos {
		width: 45%;
	}
}

@media (max-width: 700px) {
	.container {
		width: 95%;
		flex-direction: column;
	}
	.todos {
		width: 95%;
		margin-bottom: 10px;
	}
}
